$square: 1.9em;
.offset {
  &-container {
    display: flex;
    flex-flow: row wrap;
  }

  &-item {
    height: $square;
    width: $square;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.timezone-group, .offset-group {
  .form-control {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
