<ng-container>
  <div class="form-group offset-group">
    <label for="offset" class="col-12 col-sm-3 col-md-3 col-lg-2">Offset:</label>
    <div class="form-control col-12 col-sm-8 col-md-8 col-lg-9 inline">
      <div class="offset-container">
        <div class="offset-item" *ngFor="let offset of offsets" [ngStyle]="setStyles(offset)">
          {{offset}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group timezone-group">
    <label for="myTimeZone" class="col-12 col-sm-3 col-md-3 col-lg-2">{{labelName}}</label>
    <input class="form-control col-12 col-sm-8 col-md-8 col-lg-9 inline" name="myTimeZone" id="myTimeZone" type="text" required
      [(ngModel)]="timeZone" [ngbTypeahead]="search" [resultFormatter]="utcFormatter" [inputFormatter]="utcFormatter" #myTimeZone="ngModel" />
  </div>
</ng-container>
