<div id="time-form" class="container-fluid" >
  <form class="border" #timezoneForm="ngForm" novalidate (ngSubmit)="onSubmit($event)">
    <div class="form-group border border-primary utc-container">
      <utc-dropdown [labelName]="'From Time Zone:'" [timeZones]="fromTimeZones"
        [(timeZone)]="fromTimeZone" #fromUTC></utc-dropdown>
    </div>
    <div class="form-group border border-primary">
      <label for="myTime" class="col-12 col-sm-3 col-md-3 col-lg-2">From Time: </label>
      <ngb-timepicker class="inline col-12 col-sm-8 col-md-8 col-lg-10" [(ngModel)]="time" name="myTime" id="myTime" required #myTime="ngModel"></ngb-timepicker>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-danger" [hidden]="myTime.valid || myTime.pristine">
        From Time is required.
      </div>
    </div>
    <div class="form-group border border-primary utc-container">
      <utc-dropdown [labelName]="'To Time Zone:'" [timeZones]="toTimeZones"
        [(timeZone)]="toTimeZone" #toUTC></utc-dropdown>
    </div>
    <hr>
    <div class="button-container">
      <button type="submit" class="btn btn-primary" [disabled]="timezoneForm.form.invalid || !fromUTC.isValid() || !toUTC.isValid()">Submit</button>
    </div>
  </form>
  <br />
  <div class="row toTime">
    <label for="myTime" class="col-4">To Time: </label>
    <p id="myTime" name="myTime" class="col-8">{{convertedTime}}</p>
  </div>
  <!-- <pre>Selected time: {{time | json}}</pre>
  <pre>Selected from timezone: {{fromTimeZone | json}}</pre>
  <pre>Selected to timezone: {{toTimeZone | json}}</pre> -->
</div>
