<div id="time-form" class="container-fluid" >
  <form class="border" #timezoneForm="ngForm" novalidate (ngSubmit)="onSubmit($event)">
    <div class="form-group border border-primary utc-container">
      <utc-dropdown></utc-dropdown>
      <label for="fromTimezone" class="col-12 col-sm-4 col-md-4 col-lg-2">From Time Zone:</label>
      <select class="form-control col-12 col-sm-6 col-md-6 col-lg-8 inline" name="fromTimezone" id="fromTimezone"
        [(ngModel)]="fromTimeZone" required>
         <option *ngFor="let tz of fromTimeZones" [ngValue]="tz">{{generateUtcString(tz)}} {{tz.utc}}</option>
      </select>
    </div>
    <div class="form-group border border-primary">
      <label for="myTime" class="col-4 col-sm-4 col-md-4 col-lg-2">From Time: </label>
      <ngb-timepicker class="inline col-4 col-sm-4 col-md-4 col-lg-8" [(ngModel)]="time" name="myTime" id="myTime" required #myTime="ngModel"></ngb-timepicker>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-danger" [hidden]="myTime.valid || myTime.pristine">
        From Time is required.
      </div>
    </div>
    <div class="form-group border border-primary utc-container">
      <utc-dropdown></utc-dropdown>
      <label for="toTimezone" class="col-12 col-sm-4 col-md-4 col-lg-2">To Time Zone:</label>
      <select class="form-control col-12 col-sm-6 col-md-6 col-lg-8 inline" name="toTimezone" id="toTimezone"
        [(ngModel)]="toTimeZone" required>
         <option *ngFor="let tz of toTimeZones" [ngValue]="tz">{{generateUtcString(tz)}} {{tz.utc}}</option>
      </select>
    </div>
    <hr>
    <div class="button-container">
      <button type="submit" class="btn btn-primary" [disabled]="timezoneForm.form.invalid">Submit</button>
    </div>
  </form>
  <br />
  <div class="row toTime">
    <label for="myTime" class="col-4">To Time: </label>
    <p id="myTime" name="myTime" class="col-8">{{convertedTime}}</p>
  </div>
  <!-- <pre>Selected time: {{time | json}}</pre>
  <pre>Selected from timezone: {{fromTimeZone | json}}</pre>
  <pre>Selected to timezone: {{toTimeZone | json}}</pre> -->
</div>
